@keyframes load {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes flash {
  0% { opacity: 0; height: auto;}
  40% { opacity: 1; height: auto;}
  60% { opacity: 1; height: auto;}
  100% { opacity: 0; height: auto;}
}

@keyframes afterFlash {
  0% { opacity: 0; height: 0;}
  70% { opacity: 0; }
  100% { opacity: 1; }
}

* {
	outline: none;
}

a {
	color: inherit;
}

img[src="#"] {
    display: none;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-size: 1.2rem;
	color: orange;
	font-family: monospace;
}

.noscroll {
	overflow: hidden;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

body {
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	background-color: #212121;
}

.fastLoad {
	animation: load 0.3s ease-in;
}

.flash {
	height: 0;
	overflow: hidden;
	animation: flash .5s ease-out;
}

.afterFlash {
	animation: afterFlash 1s linear;
}

.wrap {
	padding: 50px;
	background-color: #424242;
	box-shadow: 0 0 20px 5px #ff3000;
	border: 2px solid #ffa52e;
}

.popup .info {
	display: block;
	text-align: center;
	font-size: 3rem;
	/*line-height: 3rem;*/
}

.msg	{
	text-align: center;
	margin-bottom: 20px;
}

input {
	padding: 20px;
	background-color: inherit;
	border: 2px solid #ff3000;
	font-size: 1.5rem; 
	color: orange;
}

.scanForm,
.scanForm input {
	text-align: center;
}

.shortList {
	margin-top: 50px;
}

.shortList_item {
	margin-top: 30px;
}

.shortList img,
.shortList .info {
	vertical-align: middle;
	display: inline-block;
}

.shortList img {
	width: 200px;
	/*min-height: 120px;*/
	margin-right: 20px;
	border: 2px solid #ffa500;
}

.shortList .info {
	line-height: 2.5rem;
}

.info_name {}

.info_number,
.info_code {
	color: #ff3000;
}
.info_number:before{
	color: #ffa500;
	content: "[";
}
.info_number:after {
	color: #ffa500;
	content: "]";
}
.info_code:before {
	content: "#";
	color: #ffa500;
}

.menu {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	opacity: 0;
}

.menu:hover {
	opacity: 1;
}

.menu a {
	display: block;
	padding: 20px;
	text-decoration: none;
}

.webcam {
	font-size: 0;
	border: 2px solid #ff3000;
}

.regform {
	margin-left: 50px;
	position: relative;
}

.regForm input {
	display: block;
	margin-bottom: 30px;
}

.regForm .finalSubmit {
	display: none;
}

.capture,
.finalSubmit {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 0 !important;
	width: 250px;
	cursor: pointer;
	transition: background-color 0.2s ease-in;
}

.capture:hover,
.finalSubmit:hover {
	background-color: #616161;
}


#id_photo {
	display:none;
}
